@import "./variables";
.header {
  padding: $main-spacing 0;
  background-color: $color-primary;
  color: white;
  margin-bottom: $main-spacing;
  .header__content {
    display: flex;
    align-items: center;

    .header__logo {
      margin-right: $main-spacing/2;
      width: $main-spacing * 2;
    }
  }
}
