$small-font-size: 14px;
$base-font-size: 16px;

$font-family: "Montserrat", sans-serif;
$main-spacing: 20px;
$max-width: 1000px;
$breakpoint: (
  xs: 500px,
  sm: 800px,
  md: 1000px,
);

$color-primary: orange;
